<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our History
      </div>
      <div class="item item-text-wrap">
        <p>
          Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong. Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
          <br> The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Corporate Leadership
      </div>
      <div class="list list-inset">
        <div ng-repeat="leader in leaders" class="item item-avatar-left item-text-wrap">
          <img ng-src="{{baseURL+leader.image}}">
          <h3>{{leader.name}}</h3>
          <h3>{{leader.designation}}</h3>
          <p>{{leader.description}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
Status
