<ion-popover-view>
  <ion-list>
    <ion-item ng-click="addFavorite(dish.id)">Add to Favorites</ion-item>
    <ion-item ng-click="openComment()">Add Comment</ion-item>
  </ion-list>
</ion-popover-view>
