<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Leave a Comment</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCommentModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="commentForm" name="commentForm" ng-submit="submitComment()">
      <div class="list">
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
          <select ng-model="comment.rating">
            <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input ng-model="comment.author">
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
          <textarea ng-model="comment.comment"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
