<div class="container" ng-controller="DishDetailController">
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showDish">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showDish">
          <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
              Back to Menu
          </button>
          <div class="media">
            <div class="media-left media-middle">
                <a href="">
                    <img class="media-object img-thumbnail" src="" alt={{dish.name}} ng-src={{dish.image}}>
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">
                    {{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span>
                </h2>
                <p>{{dish.description}}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Customer Comments</h2>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="sort">Sort by:</label>
                        <input id="sort" class="form-control" type="text" ng-model="sort">
                    </div>
                </div>
            </div>
            <blockquote ng-repeat="comment in dish.comments | orderBy: sort">
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>
                <footer>
                    {{comment.author}}, {{comment.date | date}}
                </footer>
            </blockquote>
        </div>   
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <blockquote ng-show="commentForm.$valid && !conmmentForm.$pristine">
                <p>{{comment.rating}} Stars</p>
                <p>{{comment.comment}}</p>
                <footer>
                    {{comment.author}}
                </footer>
            </blockquote>
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{'has-error': commentForm.author.$error.required && 
                                                  !commentForm.author.$pristine}">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" 
                               placeholder="Enter Your Name" ng-model="comment.author" required>
                        <span class="help-block" ng-show="commentForm.author.$error.required && 
                                                          !commentForm.author.$pristine">
                            Your name is required.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline" ng-repeat="i in [1, 2, 3, 4, 5]">
                            <input type="radio" name="rating" ng-value="i" ng-model="comment.rating"> {{i}}
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': commentForm.comment.$error.required && 
                                                  !commentForm.comment.$pristine}">
                    <label class="col-sm-2 control-label">Your Comments</label>
                    <div class="col-sm-10">
                        <textarea id="comment" name="comment" class="form-control" rows="12" 
                                  ng-model="comment.comment" required></textarea>
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" 
                              class="help-block">
                            Your comments are required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid">
                            Submit Comment
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>