<div class="container" ng-controller="IndexController">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showDish">
                <h3>{{messageDish}}</h3>
            </div>
            <div class="media" ng-if="showDish">
                <div class="media-left media-top">
                    <img class="media-object img-thumbnail" src="{{dish.image}}" alt="{{dish.name}}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{dish.name}} 
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price}}</span>
                    </h4>
                    <p>{{dish.description}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>This Month's Promotions</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div ng-if="!showPromotion">
                {{messagePromotion}}
            </div>
            <div class="media" ng-if="showPromotion">
                <div class="media-body">
                    <h4 class="media-heading">
                        {{promotion.name}}
                        <span class="label label-danger">{{promotion.label}}</span>
                        <span class="badge">{{promotion.price}}</span>
                    </h4>
                    <p>{{promotion.description}}</p>
                </div>
                <div class="media-top media-right">
                    <img class="media-object img-thumbnail" src="{{promotion.image}}" alt="{{promotion.name}}">
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div ng-if="!showLeader">
                {{messageLeader}}
            </div>
            <div class="media" ng-if="showLeader">
                <div class="media-left media-top">
                    <img class="media-object img-thumbnail" src="{{leader.image}}" alt="{{leader.name}}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{leader.name}} 
                        <small>{{leader.designation}}</small>
                    </h4>
                    <p>{{leader.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>